version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    target-branch: "main"
    open-pull-requests-limit: 10
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    target-branch: "main"
    open-pull-requests-limit: 10
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v4.1.x"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v4.1.x-lsm"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v4.2.x"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v4.2.x-lsm"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v5.x"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    target-branch: "release/v4.2.x"
    # Only allow automated security-related dependency updates on release branches.
    open-pull-requests-limit: 0
    labels:
      - dependencies
