.DS_STORE
*/node_modules
vue/dist
release/
docs/tla/states/
*.out
vendor/
build/
.vscode
.idea
__debug_*

# docusaurus versioned docs created during build
docs/versions.json
docs/versioned_docs
docs/versioned_sidebars
