name: Tests
on: [push]
jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.0' # The Go version to download (if necessary) and use.

      - name: Figure out where we are
        run: ls

      - name: Run build
        run: go build .

      - name: Unit tests
        run: go test ./...

      - name: Integration tests
        run: go run ./integration-tests/...

