# manually run full E2E test suite
# all tests are run sequentially
name: manual-e2e-main
on:
  workflow_dispatch:

jobs:
  happy-path-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - uses: actions/checkout@v4
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20" # The Go version to download (if necessary) and use.
      - name: E2E happy-path test
        run: go run ./tests/e2e/... --tc happy-path
  changeover-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - uses: actions/checkout@v4
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20" # The Go version to download (if necessary) and use.
      - name: E2E changeover test
        run: go run ./tests/e2e/... --tc changeover
  democracy-reward-test:
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
        - uses: actions/setup-go@v4
          with:
            go-version: "1.20"
        - uses: actions/checkout@v4
        - name: Checkout LFS objects
          run: git lfs checkout
        - name: Setup Go
          uses: actions/setup-go@v4
          with:
            go-version: "1.20" # The Go version to download (if necessary) and use.
        - name: E2E democracy-reward tests
          run: go run ./tests/e2e/... --tc democracy-reward-reward
  democracy-test:
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
        - uses: actions/setup-go@v4
          with:
            go-version: "1.20"
        - uses: actions/checkout@v4
        - name: Checkout LFS objects
          run: git lfs checkout
        - name: Setup Go
          uses: actions/setup-go@v4
          with:
            go-version: "1.20" # The Go version to download (if necessary) and use.
        - name: E2E democracy tests
          run: go run ./tests/e2e/... --tc democracy
  slash-throttle-test:
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
        - uses: actions/setup-go@v4
          with:
            go-version: "1.20"
        - uses: actions/checkout@v4
        - name: Checkout LFS objects
          run: git lfs checkout
        - name: Setup Go
          uses: actions/setup-go@v4
          with:
            go-version: "1.20" # The Go version to download (if necessary) and use.
        - name: E2E slash-throttle tests
          run: go run ./tests/e2e/... --tc slash-throttle-throttle
  multiconsumer-test:
      runs-on: ubuntu-latest
      timeout-minutes: 40
      steps:
        - uses: actions/setup-go@v4
          with:
            go-version: "1.20"
        - uses: actions/checkout@v4
        - name: Checkout LFS objects
          run: git lfs checkout
        - name: Setup Go
          uses: actions/setup-go@v4
          with:
            go-version: "1.20" # The Go version to download (if necessary) and use.
        - name: E2E multi-consumer tests
          run: go run ./tests/e2e/... --tc multiconsumer
